@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #333; /* Teljes háttér kitöltése */
  color: #ff4500;
  margin: 0; /* Eltávolítjuk a margót, hogy ne maradjon fehér terület */
  min-height: 100vh; /* Biztosítjuk, hogy a body is kitöltse a képernyőt */
}

.sport-page {
  padding: 20px;
  padding-top: 0;
  background-color: #333;
  min-height: 100vh; /* Teljes képernyő magasság */
}

.sport-page h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ff4500;
  background-color: #333;
  padding: 20px 0;
}

.sport-page table {
  border-collapse: separate;
  border-spacing: 0;
}

.sport-page th,
.sport-page td {
  border-color: #ccc;
}

.sport-page .animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

/* Responszív design */
@media (max-width: 1024px) {
  .max-w-1200 {
    max-width: 90%;
  }
  .sport-page th,
  .sport-page td {
    padding: 2px;
    font-size: 0.95em;
  }
}

@media (max-width: 768px) {
  .max-w-1200 {
    max-width: 100%;
  }
  .sport-page table {
    display: block;
    overflow-x: auto;
  }
  .sport-page th,
  .sport-page td {
    min-width: 100px;
    font-size: 0.9em;
  }
  .sport-page h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .sport-page th,
  .sport-page td {
    font-size: 0.85em;
  }
  .sport-page .card-image {
    height: 150px;
  }
  .sport-page h1 {
    font-size: 1.5em;
  }
}