.reg_names {
    display: flex;
    gap: 10px; /* Különbség a mezők között */
    justify-content: center
  }
  
  .reg_names input {
    width: 100%; /* Adott szélesség a mezőknek */
  }


  .kotelezo{
    color: red;
    font-size: larger;
    font-weight: bolder;
}


.nemkotelezo{
    color: rgb(68, 67, 67);
    font-size: smaller;
    opacity: 60%;
}

.reg {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    text-align: center;
    margin: 10px;
    justify-content: center
}